// colors
$primary: #201db2;
$primary-2: #3b1cfa;
$primary-3: #465ffc;
$primary-4: #3e24d3;
$secondary: #33a8eb;
$secondary-2: #00cdfc;
$black: #000;
$black-2: #101010;
$black-3: #1e1e1e;
$black-4: #383838;
$white: #fff;
$white-2: #f4f4f4;
$white-3: #ebebf6;
$white-4: #dedee9;
$white-5: #f0f0fc;
$white-6: #EBEBF7;
$yellow: #fcac02;
$orange: #ff6600;
$green: #01a91c;
$red:#FF006D;

// fonts
$font-title: "Unbounded", sans-serif;
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-inter: "Inter", sans-serif;

// font-family: 'Unbounded', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Inter', sans-serif;

// :root[data-theme="light"] {
//   --primary: #0b0b0e;
// }
// :root[data-theme="dark"] {
//   --primary: #fff;
// }
// $primary: var(--primary);
// $primary-rgb: var(--primary--rgb);
