.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 5;
  transition: 0.2s ease-out;
  transition-property: opacity, transform, padding;
  background: $white;
  border-bottom: 1px solid $primary;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 2;

    .burger {
      display: none;
    }
  }

  &.sticky {
    position: fixed;
    padding: 12px 0;
    animation: 0.3s sticky ease-in;
    transition-duration: 0.5s;
  }
}
.nav {
  flex-grow: 1;
  &__inner {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
  }
  &__box {
    display: flex;
    gap: 16px;
  }
  &__group {
    display: flex;
    gap: 22px;
    align-items: center;
  }
  &__link {
    color: $primary;
    line-height: 1.2;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: currentColor;
      position: absolute;
      bottom: -4px;
      left: 0;
      transform: scale(0);
      @include transition;
    }
    &:hover {
      &:after {
        transform: scale(1);
      }
    }
    &.active {
      color: $primary-2;
    }
  }
  .input {
    width: auto;
    min-width: 66px;
    z-index: 1;
    &--select {
      .ico {
        left: 5px;
        top: 4px;
        right: unset;
        color: $primary;
      }
      .input {
        &__selected {
          background: transparent;
          padding: 8px 5px 8px 37px;
          color: $primary;
          border-color: transparent;
          &:hover {
            border-color: $primary-2;
            color: $primary-2;
          }
          &:hover + .ico {
            border-color: $primary-2;
          }
        }
        &__dropdown {
          padding: 0 4px;
          box-shadow: 0 0 4px rgba($black, 0.2);
          &-item {
            padding: 5px;
            text-align: center;
          }
        }
      }
      &.active {
        .ico {
          transform: unset;
        }
      }
      &.active .input {
        &__selected {
          border-color: $black;
        }
        &__dropdown {
          border-top: transparent;
        }
      }
    }
  }
  .button {
    padding: 0.44em 1.1em;
    &--text {
      padding: unset;
    }
  }
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: $primary;
  background: transparent;
  transition: 0.2s ease;
  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 0.32em;
    background-color: currentColor;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "";
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $primary;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}

@mixin header-1280 {
  .nav {
    &__inner {
      gap: 16px;
    }
    &__group {
      gap: 18px;
    }
    &__link {
      font-size: 14px;
    }
    &__box {
      gap: 10px;
    }
    .dropdown {
      &__button {
        font-size: 14px;
      }
      &__content {
        &-item {
          font-size: 14px;
        }
      }
    }
    .input {
      &--select {
        .input {
          &__selected {
            font-size: 14px;
          }
          &__dropdown {
            &-item {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@mixin header-1160 {
  .header {
    padding: 14px 0;
    &__inner {
      justify-content: space-between;
      .burger {
        display: block;
        z-index: 2;
      }
    }
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.4);
    backdrop-filter: blur(4px);
    z-index: 0;
    transform: translate(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 25%;
      min-width: 280px;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      box-sizing: border-box;
      background: $white;
      box-shadow: 0px 4px 24px -1px rgba($black, 0.2);
      padding: 50px 25px;
      transform: translate(-100%);
      opacity: 0;
      transition: 0.15s ease-in-out 0s;
      gap: 20px;
      border-radius: 1px solid $primary;
    }
    &__group {
      gap: 24px;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
    &__link {
      font-size: 18px;
    }
    &__box {
      width: 100%;
      flex-direction: column;
      .button {
        width: 100%;
      }
    }
    .dropdown {
      &__button {
        font-size: 16px;
        &.button {
          &--text {
            font-size: 18px;
          }
        }
      }
      &__content {
        &-item {
          font-size: 16px;
        }
      }
    }
    .input {
      order: -1;
      &--select {
        .input {
          &__selected {
            font-size: 16px;
          }
          &__dropdown {
            &-item {
              font-size: 16px;
            }
          }
        }
      }
    }

    &.active {
      pointer-events: all;
      transform: translate(0);
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      .nav__inner {
        opacity: 1;
        transition: 0.3s ease-in-out 0.05s;
        transform: translate(0);
      }
    }
  }
}
@mixin header-460 {
  .nav {
    top: 64px;
    height: calc(100% - 64px);
    &__inner {
      box-shadow: unset;
      width: 100%;
      max-width: unset;
      padding: 16px 20px;
    }
    .dropdown {
      width: 100%;
      &__button {
        width: 100%;
        &.button {
          &--text {
            justify-content: space-between;
          }
        }
      }
      &__content {
        width: 100%;
      }
      &--lg {
        .dropdown {
          &__button {
            min-height: 40px;
            .ico {
              display: none;
            }
          }
          &__content {
            display: none;
          }
        }
      }
    }
    .input {
      display: none;
    }
  }
  .burger {
    width: 16px;
    height: 12px;
    &::before,
    &:after,
    span {
      height: 2px;
    }
  }
}
