.main {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  padding-top: 73px;
  &--lg {
    padding-top: unset;
  }
}
.autoContainer {
  max-width: 1432px;
  margin: 0 auto;
  padding: 0 60px;
}

@mixin layouts-1280 {
  .main {
    padding-top: 71.31px;
    &--lg {
      padding-top: unset;
    }
  }
}
@mixin layouts-1160 {
  .main {
    padding-top: 64.72px;
    &--lg {
      padding-top: unset;
    }
  }
}