@media (max-width: 1380px) {
  @include about-1380;
  @include intro-1380;
  @include candidates-1380;
  @include contacts-1380;
  @include article-1380;
  @include popup-1380;
}
@media (max-width: 1280px) {
  @include components-1280;
  @include layouts-1280;
  @include header-1280;
  @include index-1280;
  @include about-1280;
  @include intro-1280;
  @include clients-1280;
  @include candidates-1280;
  @include article-1280;
  @include popup-1280;
}
@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include typography-1160;
  @include components-1160;
  @include layouts-1160;
  @include header-1160;
  @include index-1160;
  @include hero-1160;
  @include info-1160;
  @include partners-1160;
  @include about-1160;
  @include intro-1160;
  @include clients-1160;
  @include announcement-1160;
  @include faq-1160;
  @include policy-1160;
  @include candidates-1160;
  @include contacts-1160;
  @include blog-1160;
  @include article-1160;
}
@media (max-width: 1025px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include footer-1025;
  @include index-1025;
  @include signup-1025;
  @include intro-1025;
  @include clients-1025;
  @include announcement-1025;
  @include faq-1025;
  @include policy-1025;
  @include candidates-1025;
  @include info-1025;
  @include contacts-1025;
  @include article-1025;
  @include popup-1025;
}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
  @include typography-940;
  @include index-940;
  @include info-940;
  @include partners-940;
  @include footer-940;
  @include signup-940;
  @include intro-940;
  @include about-940;
  @include clients-940;
  @include announcement-940;
  @include policy-940;
  @include candidates-940;
  @include article-940;
  @include blog-940;
  @include article-940;
  @include popup-940;
}
@media(max-width:840px){
  @include popup-840;
}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 20px;
  }
  @include typography-768;
  @include info-768;
  @include index-768;
  @include about-768;
  @include intro-768;
  @include clients-768;
  @include faq-768;
  @include candidates-768;
  @include article-768;
  @include contacts-768;
}
@media (max-width: 660px) {
  @include about-660;
  @include signup-660;
  @include clients-660;
}
@media (max-width: 580px) {
  @include typography-580;
  @include index-580;
  @include hero-580;
  @include info-580;
  @include partners-580;
  @include footer-580;
  @include signup-580;
  @include about-580;
  @include policy-580;
  @include candidates-580;
  @include article-580;
  @include contacts-580;
  @include blog-580;
  @include popup-580;
}
@media (max-width: 460px) {
  @include typography-460;
  @include header-460;
  @include index-460;
  @include hero-460;
  @include info-460;
  @include footer-460;
  @include about-460;
  @include intro-460;
  @include clients-460;
  @include announcement-460;
  @include faq-460;
  @include candidates-460;
  @include article-460;
  @include contacts-460;
  @include popup-460;
}
@media (max-width: 390px) {
  @include typography-390;
  @include partners-390;
  @include index-390;
  @include info-390;
  @include signup-390;
  @include about-390;
  @include intro-390;
  @include clients-390;
  @include policy-390;
  @include candidates-390;
}
@media (max-width: 370px) {
  .autoContainer {
    padding: 0 16px;
  }
  @include typography-370;
  @include index-370;
  @include hero-370;
  @include info-370;
  @include about-370;
  @include intro-370;
  @include clients-370;
  @include candidates-370;
  @include blog-370;
  @include article-370;
}

// @mixin index-1280 {
// }
// @mixin index-1160 {
// }
// @mixin index-1025 {
// }
// @mixin index-940 {
// }
// @mixin index-768 {
// }
// @mixin index-580 {
// }
// @mixin index-460 {
// }
// @mixin index-390 {
// }
// @mixin index-370 {
// }
